body {
  margin: 0;
  padding: 0;
  background-color: rgb(20,20,20);
}

.canvas {
  background-image: url('../public/bg-night.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.6);
  /* White shadow */
}

.home-page {
  width: 98%;
  display: flex;
  margin: 0 auto;
  margin-top: 3em;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
}

.profileCard {
  width: 650px;
  background-color: #201e22;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23141315' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E") !important;
}


.top-bar {
  background-color: #201e22;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23141315' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E") !important;
}

.headerAboutMe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;


}

.skillCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 items per row */
  gap: 16px;
  /* Adjust spacing between items as needed */
  padding: 16px;
  /* Optional padding around the grid */
  margin-top: 2em;
}

.webCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 3 items per row */
  gap: 16px;
  /* Adjust spacing between items as needed */
  padding: 16px;
  /* Optional padding around the grid */
  margin-top: 0.5em;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 6em;
  margin-bottom: 1em;
}

.paragraph {
  margin-top: 1em;
  margin-bottom: 1em;
}

.divider {
  width: 50%;
  height: 1px;
  background-color: #39FF14;
}

.cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}

.sitesPage {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* 2 columns of equal width */
  gap: 0px;
  /* Space between grid items */
  padding: 10px;
  justify-items: center;
}

.topHeadr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 5em;
}

.logos {
  display: flex;
  flex-direction: row;
}

.iconLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.appHeaderLeft {
  width: 40%;
  margin-right: 2em;
}

.appHeaderRight {
  width: 40%;
  margin-left: 2em;
}

.appHeaderLeftDrk {
  width: 40%;
  margin-right: 2em;

}

.appHeaderRightDrk {
  width: 40%;
  margin-left: 2em;

}

.headerApp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  margin-bottom: 4em;
}

.headerAppDrk {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  margin-bottom: 4em;
}

.lowerApp {
  background-color: #201e22;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23141315' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E") !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.8);
  /* Dark shadow directed upwards */

}

.sitePanel {
  display: flex;
  width: 101%;
  align-items: center;
  justify-content: center;
  background-color: #1c2027;
}

.project-features {
  background-color: #201e22;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23141315' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E") !important;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.8);

}

.sitePanelLight {
  display: flex;
  width: 101%;
  align-items: center;
  justify-content: center;

}

.sitesLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sitesRight {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4em;
  width: 50%;
}

.sitesLeftOpp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 4em;
  width: 50%;
}

.sitesRightOpp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-right: 2em;
  margin-left: 1em;
}

.loadingScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls-card {
  background-color: #201e22;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23141315' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E") !important;
}