body {
  margin: 0;
  padding: 0;
  background-color: rgb(20, 20, 20);
}

@media(max-width: 768px){
  body{
    width: 768px!important;
  }
}

.canvas {
  background-image: url('../public/bg-night.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.6);
  /* White shadow */
}

.home-page {
  width: 98%;
  display: flex;
  margin: 0 auto;
  margin-top: 3em;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
}

@media (max-width: 768px){
  .home-page {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    width: 650px!important;
    flex-direction: column!important;
  }
}

.profileCard {
  width: 650px;
  background-color: #201e22;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23141315' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E") !important;
}

@media (max-width: 768px) {
  .profileCard {
    width: 600px!important;
    margin-right: 120px!important
  }
}

@media (max-width: 768px) {
  .homepage {
    flex-direction: column !important;
    /* Changes to a column layout */
    align-items: center !important;
    /* Centers items horizontally */
  }
};

@media (max-width: 768px){
  .controls-card {
    margin-right: 120px!important;
  }
}

@media (max-width: 768px){
  .rightSide {
    margin-right: 220px!important;
  }
}

.top-bar {
  background-color: #201e22;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23141315' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E") !important;
}

@media (max-width: 768px) {
  .top-bar {
    width: 768px!important;
  }
}

@media (max-width: 768px) {
  .burger-btn {
    width: 30px!important;
    margin-left: 10px!important;
  }
}

@media (max-width: 768px) {
  .burger-icon {
    
  }
}



@media (max-width: 768px){
  .projects-text {
    font-size: 18px!important;
    margin-left: 0!important;
    margin-right: 50px!important;
  }
}

@media (max-width: 768px) {
  .social-media-icons {
    width: 70px !important;
    font-size: 9px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-right: 3px !important;
  }
}

@media (max-width: 768px) {
  .get-in-touch {
    width: 100px!important;
    height: 30px!important;
    font-size: 10px!important;
    margin-right: 130px!important;
  }
}

@media (max-width: 768px) {
  .icon {
    font-size: 14px !important;
    margin-left: 4px !important;
  }
}





.headerAboutMe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;


}

.skillCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 items per row */
  gap: 16px;
  /* Adjust spacing between items as needed */
  padding: 16px;
  /* Optional padding around the grid */
  margin-top: 2em;
}

.webCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 3 items per row */
  gap: 16px;
  /* Adjust spacing between items as needed */
  padding: 16px;
  /* Optional padding around the grid */
  margin-top: 0.5em;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 6em;
  margin-bottom: 1em;
}

.paragraph {
  margin-top: 1em;
  margin-bottom: 1em;
}

.divider {
  width: 50%;
  height: 1px;
  background-color: #39FF14;
}

.cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}

.sitesPage {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* 2 columns of equal width */
  gap: 0px;
  /* Space between grid items */
  padding: 10px;
  justify-items: center;
}

.topHeadr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 5em;
}

.logos {
  display: flex;
  flex-direction: row;
}

.iconLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



@media (max-width: 768px){
  .appHeaderLeft {
    width: 90%!important;
    margin: 0 auto!important;
  }
}


@media (max-width: 768px) {
  .headerApp {
    width: 600px;
    margin: 0 auto!important;
    margin-right: 290px;
    margin-top:0!important;
    display: flex!important;
    flex-direction: column!important;
  }
}

@media (max-width: 768px) {
  .explanation {
    font-size: 12px!important;
    text-align: center!important;
  }
}

@media (max-width: 768px) {
  .project-features {
    width: 600px!important;
  }
}

@media (max-width: 768px) {
  .list-features {
    margin: 0 auto!important;
    width: 600px!important;
  }
}


@media (max-width: 768px) {
  .in-production {
    font-size: 12px!important;
    margin: 0!important;
  }
}

@media (max-width: 768px) {
  .production-box {
    margin: 0!important;
    margin-left: 10px!important;
  }
}

@media (max-width: 768px) {
  .app-title {
    font-size: 36px!important;
    margin: 0!important;
  }
}

@media (max-width: 768px) {
  .features {
    font-size: 16px!important;
    margin: 0!important;
  }
}

@media (max-width: 768px) {
  .features-text {
    font-size: 10px!important;
  }
}

@media (max-width: 768px) {
  .listIcon {
    font-size: 10px!important;
  }
}

@media (max-width: 768px){
  .top-header-app{
    width: 90%;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    margin: 0!important;
    margin: 0 auto!important;
  }
}


@media (max-width: 768px){
  .appHeaderRight {
    margin: 0 auto!important;
    width: 600px!important;
  }
}

@media (max-width: 768px) {
  .lower-app-vids{
    display: flex!important;
    flex-direction: column!important;
  }
}

@media (max-width: 768px){
  .lowerApp{
    margin: 0 auto!important;
    width: 767px;

  }
};



@media (max-width: 768px){
  .vid-card-content {
    margin: 0 auto!important;
    width: 700px!important;
  }
}

@media screen and (max-width: 768px) {
  .vid-card {
      width: 90% !important;  /* Make it responsive */
      margin: 10px auto !important;  /* Center the card */
  }
  
  .iframe-vid {
      height: 250px !important;  /* Adjust iframe height for smaller screens */
  }
}


.appHeaderLeft {
  width: 40%;
  margin-right: 2em;
}

.appHeaderRight {
  width: 40%;
  margin-left: 2em;
}

.appHeaderLeftDrk {
  width: 40%;
  margin-right: 2em;

}

.appHeaderRightDrk {
  width: 40%;
  margin-left: 2em;

}

.headerApp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  margin-bottom: 4em;
}

.headerAppDrk {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  margin-bottom: 4em;
}

.lowerApp {
  background-color: #201e22;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23141315' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E") !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.8);
  /* Dark shadow directed upwards */

}

.sitePanel {
  display: flex;
  width: 101%;
  align-items: center;
  justify-content: center;
  background-color: #1c2027;
}

.project-features {
  background-color: #201e22;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23141315' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E") !important;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.8);

}

.sitePanelLight {
  display: flex;
  width: 101%;
  align-items: center;
  justify-content: center;

}

.sitesLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sitesRight {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4em;
  width: 50%;
}

.sitesLeftOpp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 4em;
  width: 50%;
}

.sitesRightOpp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-right: 2em;
  margin-left: 1em;
}

.loadingScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls-card {
  background-color: #201e22;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23141315' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E") !important;
}